@tailwind base;
@tailwind components;
@tailwind utilities;

.big-bg {
  background: url(https://images.pexels.com/photos/5728187/pexels-photo-5728187.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) no-repeat center;
  background-size: cover;
}
.blur-bg {
  backdrop-filter: blur(5px)
}