@tailwind base;
@tailwind components;
@tailwind utilities;

.big-bg {
  background: url(assets/img/bg.jpeg) no-repeat center right;
  background-size: cover;
}
.blur-bg {
  backdrop-filter: blur(5px)
}